p{
    font-family: sans-serif;
    text-indent: 3%;
}
h3{
    font-family: sans-serif;
    text-align: center;
}
.letter-address {
    text-align: right;
}
.letter-signature-line {
    text-align: right;
}
img {
    width: 50%;
    margin: 0 20% 0 20%;
}
