
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-indent: 3%;

}

img {
    margin: 0 10% 0 10%;
    width: 50%
}
